.title{
    color:black;
    text-transform: uppercase;
    margin-top: 0;
}

.center>* {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}
.bgsquare{
    height: 100% !important;
    width: auto;
    background-color: blue;
    color: white;
}
#block1{
    background-color: red;
}
#block2{
    background-color: #41cd7c;
}
