.title{
    color:black;
    text-transform: uppercase;
    position:relative;
}

.blocks{
    position: absolute;
    top: 50%;
    display:flex;
    align-content: center!important;
    align-items: center!important;
}
.bgsquare{
    height: 100% !important;
    width: auto;
    background-color: blue;
    color: white;
}
.bgsquare:after{
    content:"";
    display:block;
    padding-bottom: 77%;
}
#block1{
    background-color: red;
}
#block2{
    background-color: #41cd7c;
}
