.title{
    color:black;
    font-size:5vw;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
}

.cont{
    position: relative;
}

.blocks{
    position: absolute;
    top: 50%;
    display:flex;
    align-content: center!important;
    align-items: center!important;
}
.bgsquare{
    position:relative;
    height: 100% !important;
    width: auto;
    background-color: blue;
    color: white;
}
.bgsquare:after{
    content:"";
    display:block;
    padding-bottom: 90%;
}
#block1{
    background-color: red;
}
#block2{
    background-color: #41cd7c;
}

  .info{
    position: absolute;
    top: 2%;
    left:0;
    right:0;
    font-size: 3.0vw;
  }
  .subInfo{
    text-transform: uppercase;
    position: absolute;
    top: 43%;
    left:0;
    right:0;
    font-size: 3.0vw;
  }
